parameters:
    app_secret: ''
    database_driver: 'pgsql'
    database_version: '11'
    database_host: 'localhost'
    database_port: 5432
    database_name: ''
    database_user: ''
    database_password: ''
    env_host: ''

    # Messenger
    messenger_verify_token: ''
    messenger_api_token: ''

    # Golem
    golem_url: ''
    golem_token: ''
    default_language: fr